$base-light: #F0EDEE;
$base-dark: #111D4A;
$dark-highlight: #415166;
$primary-highlight: #5863F8;
$light-highlight: #C8CFD0;
$green-button: #315D32;
    
body {
    background-color: $base-light;
    color: $dark-highlight;
}

body {
    background-color: $base-light;
    color: $base-dark;
}

#navbar {
    background-color: $primary-highlight;
    color: $dark-highlight;
}

#navbar a{
    color: $base-dark;
}

#navButton:hover{
    color:$base-dark;
}

a {
    color: $dark-highlight;
}


h1 {
    color: $dark-highlight;
    font-size: 72px;
}

h2 {
    color: $dark-highlight;
}

table {
    background-color: $light-highlight;
    color: $dark-highlight;
    border-radius: 12px;
}

.btn-outline-success {
    border-color: $dark-highlight;
    color: $dark-highlight;
}

.btn-outline-success:hover {
    border-color: $dark-highlight;
    background-color: $dark-highlight;
    color: $base-light;
}

.btn-outline-primary {
    border-color: $base-dark;
    color: $base-dark;
}

.btn-outline-primary:hover {
    border-color: $base-dark;
    background-color: $base-dark;
    color: $base-light;
}

.btn-success {
    background-color: $green-button;
    border-color: $green-button;
    color: $base-light;
}

.btn-success:hover {
    background-color: $primary-highlight;
    border-color: $primary-highlight;
    color: $green-button;
}
