$light-base: #F0EDEE;
$dark-blue: #03012C;
$dark-grey: #535965;
$light-purple: #6E60B3;
$light-grey: #C8CFD0;
    
body {
    background-color: $light-base;
    color: $dark-grey;
}

#navbar {
    background-color: $light-purple;
    color: $light-grey;
}

#navbar a{
    color: $dark-blue;
}

#navButton:hover{
    background-color: $light-purple;
    outline-color: $dark-blue;
    color: $dark-blue;
}

a {
    color: $light-purple;
}


h1 {
    color: $dark-blue;
    font-size: 72px;
}

h2 {
    color: $dark-blue;
}

table {
    background-color: $light-grey;
    color: $dark-blue;
    border-radius: 12px;
}

.btn-outline-primary {
    border-color: $dark-blue;
    color: $dark-blue;
}

.btn-outline-primary:hover {
    border-color: $dark-blue;
    background-color: $dark-blue;
    color: $light-grey;
}

.btn-primary {
    background-color: $dark-blue;
    border-color: $dark-blue;
    color: $light-grey;
}

.btn-primary:hover {
    background-color: $light-base;
    border-color: $dark-blue;
    color: $dark-blue;
}

i {
    color: $light-purple;
}
