$base-light: #F8F8F8;
$base-dark: #004A10;
$dark-highlight: #0D1D59;
$primary-highlight: #F5C800;
$light-highlight: #B2BCBD;

#outer_tables {
    
    padding: 16px 16px 16px 16px;
    margin: 16px 4px;
}

#matchup_tables {
    padding: 16px;
    margin: auto;
}

#matchup_tables td {
    padding: 4px 16px;
}

#matchupCarousel {
    margin-left: 50px;
    margin-right: 50px;
}

.carousel-control.left {
    margin-left: -25px;
}

.carousel-control.right {
    margin-right: -25px;
}s