{% extends 'base.html' %}
{% load custom_tags widget_tweaks %}

{% block title %}Draft{% endblock title %}

{% block content %}
{{league_pk|json_script:"league_pk"}}
    <script>
        const leaguePk = JSON.parse(document.getElementById('league_pk').textContent)
        var team_information;
        var user_team_pk;

        console.log("Connecting to draft WebSocket for league pk " + leaguePk)
        const draftSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/draft/' + leaguePk + '/'
        );

        draftSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);

            if(data['draft_info']) {
                team_information = data['draft_info'];
            }

            if(data['user_team_pk']) {
                user_team_pk = data['user_team_pk'];
            }

            console.log("Received message", data);

            if (data['currently_up_position'] != null) {
                team = team_information.find(team => team.draft_position === data['currently_up_position']);
                if(team.team_pk == user_team_pk) {
                    team_name = "Your team";
                } else {
                    team_name = team.team_name;
                }
                document.getElementById('teamName').innerText = team_name;
            }
        }

        draftSocket.onopen = function(e) {
            console.log("Connected");
        }

        function send() {
            message = document.getElementById("testInput").value;
            draftSocket.send(JSON.stringify({'gymnast_pk': message}))
        }

    </script>

    This is the draft for league #{{league_pk}}
    <div id="draftingOrder">
    </div>
    <input type="number" id="testInput">
    <button onclick="send()">Send</button>
    <br>
    <span id="teamName"></span> is currently up to draft.
    <br>
    Teams 
    <br>
    <div class='row'>
        {% for team in teams %}
        <div class='col'>
            {{team.name}}
            {% for gymnast in team.roster.all %}
                {{gymnast.pk}}
                <br>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

{% endblock content %}