{% extends 'base.html' %}
{% load custom_tags widget_tweaks %}

{% block title %}Draft{% endblock title %}

{% block content %}
{{league_pk|json_script:"league_pk"}}
    <script>
        // Code that runs when a TEAM_CONNECT message is received
        function team_connected(data) {
            console.log("team_connect", data)
        }

        // Code that runs when a TEAM_DISCONNECT message is received
        function team_disconnected(data) {
            console.log("team_disconnect", data)
        }

        // Code that runs when a GYMNAST_DRAFTED message is received
        function gymnast_drafted(data) {
            console.log("gymnast_drafted", data)
        }

        // Code that runs when a SYNC message is received
        function sync(data) {
            console.log("sync", data)
        }

        const leaguePk = JSON.parse(document.getElementById('league_pk').textContent)

        console.log("Connecting to draft WebSocket for league pk " + leaguePk)
        const draftSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/draft/' + leaguePk + '/'
        );

        draftSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);

            switch(data['event']) {
                case 'TEAM_CONNECT':
                    team_connected(data);
                    break;
                case 'TEAM_DISCONNECT':
                    team_disconnected(data);
                    break;
                case 'GYMNAST_DRAFTED':
                    gymnast_drafted(data);
                    break;
                case 'GYMNAST_DRAFT_ERROR':
                    console.log("Gymnast draft error", data['error']);
                case 'SYNC':
                    sync(data);
                    break;
                default:
                    console.log("Unknown websocket message received", data);
            }
        }

        draftSocket.onopen = function(e) {
            console.log("Connected to WebSocket");
        }

        function send() {
            message = document.getElementById("testInput").value;
            draftSocket.send(JSON.stringify({'gymnast_pk': message}))
        }

    </script>

    This is the draft for league #{{league_pk}}
    <div id="draftingOrder">
    </div>
    <input type="number" id="testInput">
    <button onclick="send()">Send</button>
    <br>
    <span id="teamName"></span> is currently up to draft.
    <br>
    Teams 
    <br>
    <div class='row'>
        {% for team in teams %}
        <div class='col'>
            {{team.name}}
            {% for gymnast in team.roster.all %}
                {{gymnast.pk}}
                <br>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

<div class='row'>
    {% include 'includes/gymnast_search.html' %}
</div>
{% endblock content %}