{% load widget_tweaks custom_tags %}
{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    </head>

    <body>
        <div class="container">
            <div class="mt-4">
                <div class="container login-container">
                    <div class="row">
                        <div class="col-md-6 mb-5 d-flex justify-content-center align-items-center">
                            PHOTO
                        </div>
                        <div class="col-md-6 mx-auto">
                            <div class="card card-signin">
                                <div class="card-body">
                                    <h3 class="card-title">{% block form_title %}{% endblock form_title %}</h3>
                                    <form class="form-signin" method="post" novalidate>
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{ next }}">
                                        {% if form.non_field_errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {% for error in form.non_field_errors %}
                                            <p{% if forloop.last %} class="mb-0" {% endif %}>{{ error }}</p>
                                                {% endfor %}
                                        </div>
                                        {% endif %}

                                        {% for field in form %}
                                        <div class="form-group">
                                            <div class="form-label-group">
                                                {% render_field field class=field|input_class placeholder=field.label%}
                                            </div>
                                            {% for error in field.errors %}
                                            <div class="invalid-feedback">
                                                {{ error }}
                                            </div>
                                            {% endfor %}
                                            {% if field.help_text %}
                                            <small class="form-text text-muted">
                                                {{ field.help_text|safe }}
                                            </small>
                                            {% endif %}
                                        </div>
                                        {% endfor %}
                                        <button type="submit" class="btn btn-primary btn-block text-uppercase">{% block submit_text %}Replace{% endblock submit_text %}</button>
                                    </form>
                                    {% block bottom_card %}
                                    {% endblock bottom_card %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </body>
</html>