{% load widget_tweaks custom_tags %}
{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{% static 'css/login.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap-social.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="mt-5 mb-4">
                <div class="container login-container">
                    <div class="row">
                        <div class="col-md-6 mb-5 d-flex justify-content-center align-items-center">
                            {% comment %} <img src="{% static "images/logo.png" %}" alt="" height='200' width='200' class="d-inline-block align-top"> {% endcomment %}
                            <img src="{% static "images/logo.png" %}" alt=""  height="50" class="d-inline-block align-top">
                        </div>
                        <div class="col-md-6 mx-auto">
                            <div class="card card-signin">
                                <div class="card-body">
                                    <h3 class="card-title">{% block form_title %}{% endblock form_title %}</h3>
                                    {% block top_card %}
                                    {% endblock top_card %}
                                    <form class="form-signin" method="post" novalidate>
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{ next }}">
                                        {% if form.non_field_errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {% for error in form.non_field_errors %}
                                            <p{% if forloop.last %} class="mb-0" {% endif %}>{{ error }}</p>
                                                {% endfor %}
                                        </div>
                                        {% endif %}

                                        {% for field in form %}
                                        <div class="form-group">
                                            <div class="form-label-group">
                                                {% render_field field class=field|input_class placeholder=field.label%}
                                            </div>
                                            {% for error in field.errors %}
                                            <div class="invalid-feedback">
                                                {{ error }}
                                            </div>
                                            {% endfor %}
                                            {% if field.help_text %}
                                            <small class="form-text text-muted">
                                                {{ field.help_text|safe }}
                                            </small>
                                            {% endif %}
                                        </div>
                                        {% endfor %}
                                        <button type="submit" class="btn btn-primary btn-block">{% block submit_text %}Replace{% endblock submit_text %}</button>
                                    </form>
                                    {% block bottom_card %}
                                    {% endblock bottom_card %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <script src="{% static 'js/popper.min.js' %}"></script>
    {% comment %} <script src="{% static 'js/bootstrap.min.js' %}"></script> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="{% static 'js/font-awesome.js'%}"></script>
    </body>
</html>