


body {
    background-color: #F2F2F2;
    color: #C5C6C7;
}

#navbar {
    background-color: #182628;
    color: #F2F2F2;
}

    #navbar a {
        color: #57BA98;
    }


h1 {
    color: #182628;
    font-size: 72px;
}

 #btn1 {
    text-align: center;
    padding-top: 16px;
}


h2 { 
    color: #182628
}

#outer_tables{
    background-color: #65CCB8;
    color: #182628;
    padding: 16px 16px 16px 16px;
    border-radius: 12px;
    margin: 16px 4px;
}

#matchup_tables {
    background-color: #3B945E;
    color: #182628;
    padding: 16px;
    margin: auto;
}

#matchup_tables td{
    padding: 4px 16px;
}