{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}
{% block title %}My Fantasy Gymnastics League{% endblock title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock stylesheet %}
{% block content_no_container %}

<div class='d-flex align-items-center justify-content-center mb-2'>
    <h1>All News</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.posted_at }} | Week {{ post.week }} | {% if post.news_about == 0 %}Lineups{% else %}Platform{% endif %}</p>
                    <p class="card-text">{{post.content|slice:":200" }}{% if post.content|length > 200 %}...{% endif %}</p>
                    {% if post.content|length > 200 %}
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% if is_paginated %}
<nav aria-label="Page navigation conatiner">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>

{% endif %}

{% endblock %}