{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}
{% block title %}My Fantasy Gymnastics League{% endblock title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock stylesheet %}
{% block content_no_container %}

<div class='d-flex align-items-center justify-content-center mb-2 mt-2'>
    <h1>Lineup News for Week {{ current_week }}</h1>
</div>
<div class="container mb-20">
    <div class="row">
        <div class="col-md mt-3 left">
            {% if posts|about:lineup > 0 %}
            {% for post in posts %}
            {% if post.news_about == 0 %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.posted_at}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}{% if post.content|length > 200 %}...{% endif %}</p>
                    {% if post.content|length > 200 %}
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% else %}
            <h4>There are no posts yet this week - check again later!</h4>
            {% endif %}
        </div>
    </div>
</div>

<div class='d-flex align-items-center justify-content-center mb-4'>
    <a href="{% url 'news' %}" class="btn btn-primary">All News &rarr;</a>
</div>

<div class='d-flex align-items-center justify-content-center mb-2'>
    <h1>Platform News for Week {{current_week}}</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md mt-3 left">
            {% if posts|about:platform > 0 %}
            {% for post in posts %}
            {% if post.news_about == 1 %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.posted_at}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}{% if post.content|length > 200 %}...{% endif %}</p>
                    {% if post.content|length > 200 %}
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% else %}
            <div class='d-flex align-items-center justify-content-center mb-2'>
                <h4>There are no posts yet this week - check again later!</h4>
            </div>
            {% endif %}
        </div>
</div>

<div class='d-flex align-items-center justify-content-center mb-4'>
    <a href="{% url 'news' %}" class="btn btn-primary">All News &rarr;</a>
</div>


{% endblock %} 