{% extends 'base.html' %}
{% load custom_tags widget_tweaks %}

{% block title %}New League{% endblock title %}

{% block content %}
<div class="d-flex align-items-center justify-content-center mb-4">
        <h1>New League</h1>
</div>
</div>

   <form method="post" novalidate>
    {% csrf_token %}
    <div class="row">
      <div class="col">
        <div class="form-group mb-4">
          {% render_field form.name class=form.name|input_class placeholder=form.name.label%}
          {% for error in form.name.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
          {% if form.name.help_text %}
            <small class="form-text text-muted">
              {{ form.name.help_text|safe }}
            </small>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col form-group mb-4">
          {% render_field form.roster_size class=form.roster_size|input_class placeholder=form.roster_size.label%}
          {% for error in form.roster_size.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
          {% if form.roster_size.help_text %}
            <small class="form-text text-muted">
              {{ form.roster_size.help_text|safe }}
            </small>
          {% endif %}
      </div>
      <div class="col form-group mb-4">
          {% render_field form.lineup_size class=form.lineup_size|input_class placeholder=form.lineup_size.label%}
          {% for error in form.lineup_size.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
          {% if form.lineup_size.help_text %}
            <small class="form-text text-muted">
              {{ form.lineup_size.help_text|safe }}
            </small>
          {% endif %}
      </div>
    </div>
{% comment %}  {% endcomment %}
    <div class="row">
      <div class="col form-group mb-4">
          {% render_field form.event_lineup_size class=form.event_lineup_size|input_class placeholder=form.event_lineup_size.label%}
          {% for error in form.event_lineup_size.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
          {% if form.event_lineup_size.help_text %}
            <small class="form-text text-muted">
              {{ form.event_lineup_size.help_text|safe }}
            </small>
          {% endif %}
      </div>
      <div class="col form-group mb-4">
          {% render_field form.event_count_size class=form.event_count_size|input_class placeholder=form.event_count_size.label%}
          {% for error in form.event_count_size.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
          {% if form.event_count_size.help_text %}
            <small class="form-text text-muted">
              {{ form.event_count_size.help_text|safe }}
            </small>
          {% endif %}
      </div>
    </div>
    <button type="submit" class="btn btn-primary mb-4">Submit</button>
  </form>
</div>
  {% comment %} <a href="{% url 'data' %}" class="btn btn-success" role="button">data</a> {% endcomment %}
{% endblock %}