<!DOCTYPE html>
<html>

<head>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 95vh;
        }

        .drawing-area {
            box-shadow: 0 0 6px 0 #999;
            touch-action: none;
        }

        .clear-button {
            margin: 1em;
            font-size: 16px;
        }

        .image-button {
            margin: 1em;
            font-size: 16px;
        }
    </style>
</head>

<body>
    <div id="container" class="container">
        <canvas id="drawing-area" class="drawing-area" height="500" width="500"></canvas>
        <button id="clear-button" class="clear-button" type="button">Clear</button>
        <button id="image-button" class="image-button" type="button">Draw to Image</button>
        <image id="image" class="drawing-area" height="500" width="500"></image>
    </div>
</body>

<!-- <script src="http://hongru.github.io/proj/canvas2image/canvas2image.js"></script> -->
<script>
    // =============
    // == Globals ==
    // =============
    const canvas = document.getElementById('drawing-area');
    const canvasContext = canvas.getContext('2d');
    const clearButton = document.getElementById('clear-button');
    const imageButton = document.getElementById('image-button');
    const image = document.getElementById("image");
    const state = {
        mousedown: false
    };

    // ===================
    // == Configuration ==
    // ===================
    const lineWidth = 9;
    const halfLineWidth = lineWidth / 2;
    const fillStyle = 'black';
    const strokeStyle = 'black';

    const shadowBlur = lineWidth / 4;

    // =====================
    // == Event Listeners ==
    // =====================
    canvas.addEventListener('mousedown', handleWritingStart);
    canvas.addEventListener('mousemove', handleWritingInProgress);
    canvas.addEventListener('mouseup', handleDrawingEnd);
    canvas.addEventListener('mouseout', handleDrawingEnd);

    canvas.addEventListener('touchstart', handleWritingStart);
    canvas.addEventListener('touchmove', handleWritingInProgress);
    canvas.addEventListener('touchend', handleDrawingEnd);

    clearButton.addEventListener('click', handleClearButtonClick);
    imageButton.addEventListener('click', handleToImageButtonClick);

    // ====================
    // == Event Handlers ==
    // ====================
    function handleWritingStart(event) {
        event.preventDefault();

        const mousePos = getMosuePositionOnCanvas(event);

        canvasContext.beginPath();

        canvasContext.moveTo(mousePos.x, mousePos.y);

        canvasContext.lineWidth = lineWidth;
        canvasContext.strokeStyle = strokeStyle;

        canvasContext.shadowBlur = null;

        canvasContext.fill();

        state.mousedown = true;
    }

    function handleWritingInProgress(event) {
        event.preventDefault();

        if (state.mousedown) {
            const mousePos = getMosuePositionOnCanvas(event);

            canvasContext.lineTo(mousePos.x, mousePos.y);
            canvasContext.stroke();
        }
    }

    function handleDrawingEnd(event) {
        event.preventDefault();

        if (state.mousedown) {

            canvasContext.shadowBlur = shadowBlur;

            canvasContext.stroke();
        }

        state.mousedown = false;
    }

    function handleClearButtonClick(event) {
        event.preventDefault();

        clearCanvas();
    }

    function handleToImageButtonClick(event) {
        event.preventDefault();

        to_image();
    }
    // ======================
    // == Helper Functions ==
    // ======================
    function getMosuePositionOnCanvas(event) {
        const clientX = event.clientX || event.touches[0].clientX;
        const clientY = event.clientY || event.touches[0].clientY;
        const { offsetLeft, offsetTop } = event.target;
        const canvasX = clientX - offsetLeft;
        const canvasY = clientY - offsetTop;

        return { x: canvasX, y: canvasY };
    }

    function clearCanvas() {
        canvasContext.clearRect(0, 0, canvas.width, canvas.height);
    }

    function to_image() {
        image.src = canvas.toDataURL();
        // Canvas2Image.saveAsPNG(canvas);
    }


</script>