{% load custom_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DrawBot</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/drawbot.css' %}">

</head>

<body>

    <div class='container'>
        <div class='d-flex align-items-center justify-content-center mt-2'>
            <h1>DrawBot</h1>
        </div>
        <div class='d-flex align-items-center justify-content-center'>
            <canvas id="canvas" class="drawing-area"></canvas>
        </div>
        <div class='d-flex align-items-center justify-content-center mt-2'>
            <i id="pen" class="fas fa-pencil-alt fa-2x me-2"></i>
            <i id="eraser" class="fas fa-eraser fa-2x"></i>
        </div>
        <div class='d-flex align-items-center justify-content-center mt-4'>
            <a id="image-button" class="btn btn-success me-2" data-bs-toggle="modal" data-bs-target="#sendImage" >Finish</a>
            <button id="clear-button" class="btn btn-dark" type="button">Clear</button>
        </div>
        <div class="modal fade" id="sendImage" tabindex="-1" aria-labelledby="sendImageLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="sendImageLabel">Done drawing?</h5>
                    </div>
                    <div class="modal-body d-flex align-items-center justify-content-center">
                        <image id="image" class='drawing-area'></image>
                    </div>
                    <div class="modal-footer">
                        <button id="send" class="btn btn-outline-success">Send</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="{% static 'js/popper.min.js' %}"></script>
    {% comment %} <script src="{% static 'js/bootstrap.min.js' %}"></script> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/font-awesome.js'%}"></script>

    <script src="http://hongru.github.io/proj/canvas2image/canvas2image.js"></script>
    <script src="{% static 'js/drawbot.js'%}"></script>
    {% block javascript %}{% endblock %}
</body>

</html>