{% extends 'base.html' %}
{% load custom_tags static %}
{% block title %}Gymnast Search{% endblock title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/clickable_row.css' %}">
{% endblock stylesheet %}
{% block content %}
    <a href="{% url 'view_team' team.pk %}">
        <button class="btn btn-outline-primary algin-right" type="button">Back to team</button>
    </a>
    {% if gymnasts %}
        {% include 'includes/gymnast_search.html' %}
    {% endif %}
{% endblock content %}