{% extends 'base.html' %}
{% load custom_tags static %}
{% block title %}Gymnast Search{% endblock title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/clickable_row.css' %}">{% endblock stylesheet %}
{% block content %}
<div class="d-flex align-items-center justify-content-center mb-4">
        <h1>Gymnast Search</h1>
    </div>
    <div class="d-flex align-items-center justify-content-center mb-4">
        <form action="{% url 'gymnast_search' team.pk %}" method="get">
            <input class="form-control" name="query" type="text" placeholder="Gymnast Name">
        </form>
    </div>
    <a href="{% url 'view_team' team.pk %}">
        <button class="btn btn-outline-primary algin-right" type="button">Back to team</button>
    </a>
    {% if gymnasts %}
        <table class="table table-hover">
            <thead>
                <td>Name</td>
                <td>Team</td>
                <td>Year</td>
                <td>FX</td>
                <td>PH</td>
                <td>SR</td>
                <td>VT</td>
                <td>PB</td>
                <td>HB</td>   
            </thead>
            {% for gymnast in gymnasts %}
                <tr>
                    <td><a style="color:inherit; text-decoration: none;"  href="{% url 'add_gymnast_to_roster' team.pk gymnast.pk %}">{{gymnast.name}}</a></td>
                    <td><a style="color:inherit; text-decoration: none;"  href="{% url 'add_gymnast_to_roster' team.pk gymnast.pk %}">{{gymnast.team}}</a></td>
                    <td><a style="color:inherit; text-decoration: none;"  href="{% url 'add_gymnast_to_roster' team.pk gymnast.pk %}">{{gymnast.year}}</a></td>
                    <td><a style="color:inherit; text-decoration: none;"  href="{% url 'add_gymnast_to_roster' team.pk gymnast.pk %}"></a></td>
                    <td><a style="color:inherit; text-decoration: none;"  href="{% url 'add_gymnast_to_roster' team.pk gymnast.pk %}"></a></td>
                    <td><a style="color:inherit; text-decoration: none;"  href="{% url 'add_gymnast_to_roster' team.pk gymnast.pk %}"></a></td>
                    <td><a style="color:inherit; text-decoration: none;"  href="{% url 'add_gymnast_to_roster' team.pk gymnast.pk %}"></a></td>
                    <td><a style="color:inherit; text-decoration: none;"  href="{% url 'add_gymnast_to_roster' team.pk gymnast.pk %}"></a></td>
                    <td><a style="color:inherit; text-decoration: none;"  href="{% url 'add_gymnast_to_roster' team.pk gymnast.pk %}"></a></td>
                    <td><a style="color:inherit; text-decoration: none;"  href="{% url 'add_gymnast_to_roster' team.pk gymnast.pk %}"></a></td>

                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock content %}
