{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}
{% block title %}My Fantasy Gymnastics League{% endblock title %}
{% block content %}


<div class="row">
    <div class='col'>
        <img src="{% static "images/new_logo.png" %}" alt="" class="d-inline-block align-top">

    </div>
    <div class='col'>

        <h2>Welcome</h2>

        <p>To get started, click the login button in the top right, and then the register button on the next page and make an account!</p>
        <p> Note: This is your real account, so use your real email address and username as they can’t be changed later (for now at least)</p>
        <p>Once you’re logged in, navigate to the My Leagues link in the top left.</p>
        <p>Once you’ve created a league, figure out with your league how you want to go through the drafting process. Our suggestion is that you call each other and follow a snake draft (there’ll be a ‘draft’ feature coming soon, but for now you’ll need to draft gymnasts yourself).</p>
        <p>The manager of the league will also need to set matchups for each week (again, automated matchups are coming soon – for now, we recommend you have an even number of players in the league so that everyone gets to play each week).</p>
        <p>Once you have all your players, go ahead and set your lineups for this weekend and play!</p>
        
    </div>

</div>

{% endblock %}
