{% extends 'base.html' %}
{% load custom_tags static %}
{% block title %}League Standings{% endblock title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/clickable_row.css' %}">
<link rel="stylesheet" href="{% static 'css/leagueHome.css' %}">
{% endblock stylesheet %}
{% block content %}

<div class='d-flex align-items-center justify-content-center mb-4'>
    <h1>{{league.name}}</h1>
</div>

<div class='d-flex align-items-center justify-content-center mb-4'>
    {% if user == league.manager %}
    <a class="btn btn-outline-success col-sm-2 btn1" href="{% url 'edit_league' league.pk %}" role="button">Edit League</a>
    {% endif %}
</div>

<div class='d-flex align-items-center justify-content-center'>
    <a href="{% url 'request_to_join_league' league.pk %}">
        <button id="main_button" class="btn btn-outline-success" type="button">Request to join league</button>
    </a>
</div>

<div id="outer_tables">
    <h2>Rank</h2>
    <table class="table table-hover">
        {% for team in teams %}
        <tr>
            <td><a style="color:inherit; text-decoration: none;" href="{% url 'view_team' team.pk %}">{{team.name}}</a></td>
            <td>({{team.wins}}-{{team.losses}})</td>
            <td><a href="{% url 'remove_team_from_league' league.pk team.pk %}">X</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="row">
    <h2 class="col-auto">Current Week</h2>
</div>


<div id="currentMatchups" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        {% for matchup in matchups %}
        {% if matchup.week == current_week %}
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide {{forloop.counter}}"></button>
        {% endif %}
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for matchup in matchups %}
        {% if matchup.week == current_week %}
        {% if matchup.team1 == user.team %}

        <div class="carousel-item active">
            <table class="table table-hover" id="matchup_tables">
                <tr>
                    <td class="col-sm-auto">
                        <a href="{% url 'view_matchup' matchup.pk %}">{{matchup.team1}} vs {{matchup.team2}}</a>
                    </td>
                </tr>
            </table>
        </div>
        {% elseif %}

        <div class="carousel-item">
            <table class="table table-hover" id="matchup_tables">
                <tr>
                    <td class="col-sm-auto">
                        <a href="{% url 'view_matchup' matchup.pk %}">{{matchup.team1}} vs {{matchup.team2}}</a>
                    </td>
                </tr>
            </table>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#currentMatchups" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#currentMatchups" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="row">
    <h2 class="col-auto">Schedule</h2>
    {% if league.manager == user %}
    <a class="col-auto" href="{% url 'create_matchup' league.pk %}"> <button class="btn btn-success" type="button">Create Matchup</button></a>
    {% endif %}
</div>

<table id="outer_tables">
    {% comment %} Creates rows for each week in the season {% endcomment %}
    {% with ''|center:max_week as range %}
    {% for _ in range %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>
            <table id="matchup_tables">
                <tr>
                    {% for matchup in matchups %}
                    {% if matchup.week == forloop.parentloop.counter %}
                    <td>
                        <a href="{% url 'view_matchup' matchup.pk %}">{{matchup.team1}} vs {{matchup.team2}}</a>
                    </td>
                    <td>
                        <a href="{% url 'delete_matchup' matchup.pk %}">X</a>
                    </td>
                    {% endif %}
                    {% endfor %}
                </tr>
            </table>
        </td>
    </tr>
    {% endfor %}
    {% endwith %}
</table>



{% if league.manager == user %}
<h2>Requested to Join</h2>
<table class="table table-hover">
    <tbody>
        {% for requested_user in league.requested_to_join.all %}
        <tr>
            <td><a style="color:inherit; text-decoration: none;" href="{% url 'approve_player_into_league' league.pk requested_user.pk %}">{{requested_user}}</a> </td>
            <td><a href="{% url 'reject_player_from_league' league.pk requested_user.pk %}">X</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}

