{% extends 'base.html' %}
{% load custom_tags static %}
{% block title %}League Standings{% endblock title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/clickable_row.css' %}">{% endblock stylesheet %}
{% block content %}

<div class='d-flex align-items-center justify-content-center mb-4'>
    <h1>{{league.name}}</h1>
     {% if user == league.manager %}
        <a href="{% url 'edit_league' league.pk %}">Edit League</a>
    {% endif %}
</div>
<div class='d-flex align-items-center justify-content-center'>
    <a href="{% url 'request_to_join_league' league.pk %}">
        <button class="btn btn-outline-primary" type="button">Request to join league</button>
    </a>
</div>
<h2>Rank</h2>
<table class="table table-hover">
    {% for team in teams %}
    <tr >
        <td><a style="color:inherit; text-decoration: none;" href="{% url 'view_team' team.pk %}">{{team.name}}</a></td>
        <td>({{team.wins}}-{{team.losses}})</td>
        {% if user == league.manager %}
            <td><a href="{% url 'remove_team_from_league' league.pk team.pk %}">X</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

<h2>Schedule</h2>
<table class="table table-hover">
    <tr>
        <td>{{current_week}}</td>
        <td>
            <table class='d-flex align-items-center justify-content-center mb-4'>
            {% for matchup in matchups %}
                {% if matchup.week == current_week %}
                    <tr>
                        <td><a href="{% url 'view_matchup' matchup.pk %}">{{matchup.team1}} vs {{matchup.team2}}</a></td>
                        {% if user == league.manager %}
                            <td><a href="{% url 'delete_matchup' matchup.pk %}">X</a></td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
            </table>
        </td>
    </tr>
    {% comment %} Creates rows for each week in the season {% endcomment %}
    {% with ''|center:max_week as range %}
        {% for _ in range %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>
                    <table class='d-flex align-items-center justify-content-center mb-4'>
                        {% for matchup in matchups %}
                            {% if matchup.week == forloop.parentloop.counter %}
                                <tr >
                                    <td><a href="{% url 'view_matchup' matchup.pk %}">{{matchup.team1}} vs {{matchup.team2}}</a></td>
                                    {% if user == league.manager %}
                                        <td><a href="{% url 'delete_matchup' matchup.pk %}">X</a></td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </td>
            </tr>
        {% endfor %}
    {% endwith %}    
</table>

{% if league.manager == user %}
    <a href="{% url 'create_matchup' league.pk %}">
        <button class="btn btn-outline-primary" type="button">Create Matchup</button>
    </a>
{% endif %}


{% if league.manager == user %}
    <h2>Requested to Join</h2>
    <table class="table table-hover">
        <tbody>
            {% for requested_user in league.requested_to_join.all %}
                <tr>
                    <td><a style="color:inherit; text-decoration: none;" href="{% url 'approve_player_into_league' league.pk requested_user.pk %}" >{{requested_user}}</a> </td>
                    <td><a href="{% url 'reject_player_from_league' league.pk requested_user.pk %}">X</a></td>
                </tr>
            {% endfor %}                
        </tbody>
    </table
{% endif %}

{% endblock %}