{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}
{% block title %}League Search{% endblock title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/clickable_row.css' %}">{% endblock stylesheet %}


{% block content %}
    <div class="d-flex align-items-center justify-content-center mb-4">
        <h1>League Search</h1>
    </div>
    <div class="d-flex align-items-center justify-content-center mb-4">
        <form action="{% url 'league_search' %}" method="get">
            <input class="form-control" name="query" type="text" placeholder="League Name">
        </form>
    </div>
    {% if leagues %}
        <table class="table table-hover">
            {% for league in leagues %}
                <tr>
                    <td><a style="color:inherit; text-decoration: none;" href="{% url 'view_league' league.pk %}">{{league.name}}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock content %}