{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}
{% block title %}Team {{ team.name }}{% endblock title %}
{% block content %}


<table class="container">
    <thead>
        <td class="col">
            <h2>{{team.name}}</h2>
        </td>
    </thead>
    <tbody>
        <tr class="row">
            <td class="col-md-2">Team name:</td>
            <td class="col-md-2">{{team.name}}</td>
        </tr>
        <tr class="row">
            <td class="col-md-2">Team owner:</td>
            <td class="col-md-2">{{team.user.first_name}}</td>
        </tr>

    </tbody>
</table>

<div class="container">
    <div class="row">
        <div class="col-12">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'edit_team' team.pk %}">Edit Team</a>
            <a href="{% url 'view_league' team.league.id %}">Back to league</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <table class="table table-hover">
                <tr>
                    <th style="font-size:40px" colspan="2">My Roster</th>
                </tr>
                <tbody>
                    {% for gymnast in roster %}
                    <tr>
                        <td>{{gymnast.name}}</td>
                        <td>{{gymnast.team}}</td>
                        <td>{{gymnast.year}}</td>
                        <td><a href="{% url 'remove_gymnast_to_roster' team.pk gymnast.pk %}">X</a></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <p>
                                <a data-bs-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false"
                                    aria-controls="multiCollapseExample1"><i class="fas fa-user-plus"></i></a>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col">
                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                        {% for gymnast in draftable_gymnasts %}
                        <table>
                            <tr>
                                <td><a href="{% url 'add_gymnast_to_roster' team.pk gymnast.pk %}">{{gymnast.name}}</a>
                                </td>
                            </tr>
                        </table>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item active" role="presentation">
                    <button class="nav-link" id="full-lineup-tab" data-bs-toggle="pill" data-bs-target="#full-lineup"
                        type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Full Lineup</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade" id="full-lineup" role="tabpanel" aria-labelledby="full-lineup-tab">
                    <table class="table table-striped">
                        <tr>
                            <td>Gymnast1 Headshot </td>
                            <td>Gymnast1 Name (link to profile)</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--TODO: Generate roster and lineup tables using league roster size and lineup size-->

<div id="container"></div>

<a href="{% url 'home' %}">Home</a>
{% if user == team.user %}
<a href="{% url 'edit_team' team.pk %}">Edit Team</a>
{% endif %}
<a href="{% url 'view_league' team.league.id %}">Back to league</a>

<!--
<table>
    {% for i in league.lineup_size %}
    <tr>
        <td colspan="2">
            <button type="button" class="btn btn-default btn-lg">
                <i class="fas fa-user-plus"></i>
            </button>
        </td>
    </tr>
    {% endfor %}
</table>
-->
{% endblock %}