{% extends 'base.html' %}
{% load custom_tags %}
{% block title %}Team {{ team.name }}{% endblock title %}
{% block content %}


<table>
    <thead>
        <td><h2>Team Details</h2></td>
    </thead>
        <tbody>
            <tr>
                <td>Team name:</td>
                <td>{{team.name}}</td>
            </tr>
            <tr>
                <td>Team owner:</td>
                <td>{{team.user.first_name}}</td>
            </tr>

        
        </tbody>
</table>


<a href="{% url 'home' %}">Home</a>
<a href="{% url 'edit_team' team.pk %}">Edit Team</a>
<a href="{% url 'view_league' team.league.id %}">Back to league</a>

  {% endblock %}