{% extends 'base.html' %}
{% load custom_tags %}
{% block title %}Leagues{% endblock title %}
{% block content %}


<table>
    <thead>
        <td><h2>League Details</h2></td>
    </thead>
        <tbody>
            <tr>
                <td>League name:</td>
                <td>{{league.name}}</td>
            </tr>
            <tr>
                <td>League Manager:</td>
                <td>{{league.manager.first_name}}</td>
            </tr>

            <tr>
                <td>League Size:</td>
                <td>{{ teams.count }}</td>
            </tr>

            <tr>
                <td>Roster Size:</td>
                <td>{{league.roster_size}}</td>
            </tr>

            <tr>
                <td>Lineup Size:</td>
                <td>{{league.lineup_size}}</td>
            </tr>

            <tr>
                <td>Event Lineup Size:</td>
                <td>{{league.event_lineup_size}}</td>
            </tr>

            <tr>
                <td>Event Count Size:</td>
                <td>{{league.event_count_size}}</td>
            </tr>
            {% if league.manager == user %}
                <tr>
                    <td>Requested to join (click to approve):</td>
                </tr>
                {% for requested_user in league.requested_to_join.all %}
                    <tr>
                        <td><a href="{% url 'approve_player_into_league' league.pk requested_user.pk %}" >{{requested_user}}</a> 
                        <a href="{% url 'reject_player_from_league' league.pk requested_user.pk %}">X</a> </td>
                    </tr>
                {% endfor %}                
            {% endif %}
        </tbody>
</table> 
<table>
    <thead>
        <td><h2>Teams in {{ league.name }}</h2></td>
    </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>Team name:</td>
                <td><a href="{% url 'view_team' team.id %}">{{team.name}}</a> 
                {% if league.manager == user %}
                    <a href="{% url 'remove_team_from_league' league.pk team.pk %}">X</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
</table>

<table>
    <tbody>
        <tr><td><a href="{% url 'home' %}" >Home</a></td></tr>
        {% if user == league.manager %}
            <tr><td><a href="{% url 'edit_league' league.pk %}" >Edit league</a></td></tr>{% endif %}
        <tr><td><a href="{% url 'request_to_join_league' league.pk %}" >Request to join league</td></a></tr>

    </tbody>
</table

  {% endblock %}