
{% extends 'base_accounts.html' %}
{% load static %}
{% comment %} {% load form_tags widget_tweaks %} {% endcomment %}

{% block form_title %}Send Password Link{% endblock form_title %}
{% block submit_text %}Reset{% endblock submit_text %}
{% block bottom_card %}

    {% comment %} <hr class="mt-3 mb-4"> {% endcomment %}
    <div class="text-center mt-2">
        <small>
            <a href="{% url 'login' %}" class="text-muted">Back to login</a>
        </small>
    </div>
{% endblock bottom_card %}