{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}
{% block title %}Team {{ team.name }}{% endblock title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/clickable_row.css' %}">{% endblock stylesheet %}
{% block content %}

<div class="container mb-4">
    <div class='d-flex align-items-center justify-content-center mb-4'>
        <h1>{{team1.user.first_name}} vs. {{team2.user.first_name}}</h1>
    </div>
    <div class='d-flex align-items-center justify-content-center mb-4'>
        <h3>Week {{matchup.week}} Matchup</h3>
    </div>
    <div class="row">
        {% comment %} Team 1 {% endcomment %}
        <div class="col">
            {% comment %} Team name (link to view team) {% endcomment %}
            <h2><a style="color:inherit; text-decoration: none;" href="{% url 'view_team' team1.pk %}">{{team1}}</a></td></h2>
            {% comment %} loops through all lineups for this matchup week {% endcomment %}
            {% for lineup in team1.LineUp.all|current_week:matchup.week %}
                <table class="table tablesorter table-hover">
                    <thead>
                        {% comment %} Lineup event name and capcity {% endcomment %}
                        <th colspan="2">{{lineup.event}} {{ lineup.gymnasts.all.count }}/{{ team1.league.event_lineup_size }}</th>
                        <th class='alltoright'>{{lineup|lineup_score}}</th>
                    </thead>
                    <tbody>
                        {% comment %} Loops through gymnasts in lineup {% endcomment %}
                        {% for gymnast in lineup.gymnasts.all %}
                            <tr>
                                {% comment %} Remove from lineup button {% endcomment %}
                                {% if user == team1.user and matchup.week == current_week and not gymnast|team_has_competed:lineup.week%}
                                    <td><a href="{% url 'remove_gymnast_from_lineup' lineup.pk gymnast.pk %}">X</a></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% comment %} Gymnast name and score for event {% endcomment %}
                                <td>{{gymnast.name}} - {{gymnast.team}} </td>
                                <td>
                                    {% comment %} Gymnast score if their team has competed {% endcomment %}
                                    {% if scores|from_gymnast:gymnast|has_event_score:lineup.event %}
                                        <b>{{ scores|from_gymnast:gymnast|get_highest_event_score:lineup.event }}</b>
                                    {% elif  gymnast|team_has_competed:lineup.week %}
                                        <b>0.00</b>
                                    {% comment %} Gymnast average if their team hasnt competed {% endcomment %}
                                    {% else %}
                                        {% if averages|from_gymnast:gymnast|event_average:lineup.event%}
                                            <em>{{averages|from_gymnast:gymnast|event_average:lineup.event}}</em>
                                        {% else %}
                                            <em>0.00</em>
                                        {% endif %} 
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% comment %} Add gymnast to lineup button. Only if the current week {% endcomment %}
                        {% if user == team1.user and matchup.week == current_week%}
                            {% if lineup.gymnasts.all.count < team1.league.event_lineup_size %} <p>
                                <tr><td colspan="3"><a data-bs-toggle="collapse" href="#multiCollapse{{lineup.event}}" aria-expanded="false"
                                    aria-controls="multiCollapse{{lineup.event}}"><i class="fas fa-user-plus"></i></a>
                                </p></td></tr>
                            {% endif %}
                        {% endif %}
                    </tbody>
                </table>
                {% comment %} Teams roster for adding to lineup {% endcomment %}
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapse{{lineup.event}}">
                            {% for gymnast in team1.roster.all %}
                                {% if gymnast not in lineup.gymnasts.all %}
                                    <table>
                                        <tr>
                                            <td>
                                                {% comment %} Allow user to add gymnast to lineup if their team hasnt competed {% endcomment %}
                                                {% if gymnast|team_has_competed:lineup.week %}
                                                    {{gymnast.name}} - {{gymnast.team}} - AVG:{{averages|from_gymnast:gymnast|event_average:lineup.event}}
                                                {% else %}
                                                    <a href="{% url 'add_gymnast_to_lineup' lineup.pk gymnast.pk %}">{{gymnast.name}} - {{gymnast.team}} - AVG:{{averages|from_gymnast:gymnast|event_average:lineup.event}}</a> 
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </table>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% comment %} Total team score {% endcomment %}
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td class='alltoright'>Total {{team1.LineUp.all|current_week:matchup.week|team_score}}</td>
                    </tr>
                </tbody>
            </table>
        </div>



        {% comment %} Team 2 {% endcomment %}
        <div class="col alltoright">
             {% comment %} Team name (link to view team) {% endcomment %}
            <h2><a style="color:inherit; text-decoration: none;" href="{% url 'view_team' team2.pk %}">{{team2}}</a></td></h2>
            {% comment %} loops through all lineups for this matchup week {% endcomment %}
            {% for lineup in team2.LineUp.all|current_week:matchup.week %}
                <table class="table table-hover">
                    <thead>
                        {% comment %} Lineup event name and capcity {% endcomment %}
                        <th class='alltoleft'>{{lineup|lineup_score}}</th>
                        <th colspan="2">{{lineup.event}} {{ lineup.gymnasts.all.count }}/{{ team1.league.event_lineup_size }}</th>
                    </thead>
                    <tbody>
                        {% comment %} Loops through gymnasts in lineup {% endcomment %}
                        {% for gymnast in lineup.gymnasts.all %}
                            <tr>
                                {% comment %} Gymnast name and score for event {% endcomment %}
                                <td>
                                    {% comment %} Gymnast score if theyve competed {% endcomment %}
                                    {% if scores|from_gymnast:gymnast|has_event_score:lineup.event %}
                                        <b>{{ scores|from_gymnast:gymnast|get_highest_event_score:lineup.event }}</b>
                                    {% elif  gymnast|team_has_competed:lineup.week %}
                                        <b>0.00</b>
                                    {% comment %} Gymnast event average if they havent competed {% endcomment %}
                                    {% else %}
                                        {% if averages|from_gymnast:gymnast|event_average:lineup.event%}
                                            <em>{{averages|from_gymnast:gymnast|event_average:lineup.event}}</em>
                                        {% else %}
                                            <em>0.00</em>
                                        {% endif %} 
                                    {% endif %}
                                </td>
                                <td>{{gymnast.name}} - {{gymnast.team}}</td>
                            </tr>
                        {% endfor %}                        
                    </tbody>
                </table>
            {% endfor %}
            {% comment %} Total team score {% endcomment %}
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td class='alltoleft'>Total {{team2.LineUp.all|current_week:matchup.week|team_score}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a href="{% url 'league_standings' team1.league.id %}">Back to league</a>
</div>

<style>
    .alltoright { text-align: right; }
    .alltoleft { text-align: left; }
</style>

<!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js" integrity="sha512-qzgd5cYSZcosqpzpn7zF2ZId8f/8CHmFKZ8j7mU4OUXTNRd5g+ZHBPsgKEwoqxCtdQvExE5LprwwPAgoicguNg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.widgets.min.js" integrity="sha512-dj/9K5GRIEZu+Igm9tC16XPOTz0RdPk9FGxfZxShWf65JJNU2TjbElGjuOo3EhwAJRPhJxwEJ5b+/Ouo+VqZdQ==" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $("table.tablesorter").tablesorter({
                headerTemplate: '{content} {icon}',
                widgets: ['uitheme'],
                cssIcon: 'fas',
                cssIconNone: 'fa-sort',
                cssIconAsc: 'fa-sort-up',
                cssIconDesc: 'fa-sort-down',
                sortList: [[2, 1]],
                headers : {
                    0 : {  sorter: false },
                    1 : {  sorter: false },
                    2 : {  sorter: false },
                }
            });
        });
    </script>
{% endblock %}
