dump.rdb

# Migrations (We need to stop doing this)
#*/migrations/*
#!*/migrations/__init__.py

# Django
*.log
*.pot
__pycache__/
*.py[cod]
db.sqlite3
media
.env

# Celery
celerybeat-schedule.db

*.DS_STORE

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 